/* icons from directory "" */
.air-socka,.air-socka\:regular{background-position:0 0;}

.air-sockb,.air-sockb\:regular{background-position:0 -32px;}

.celsius,.celsius\:regular{background-position:0 -64px;}

.cloud-add,.cloud-add\:regular{background-position:0 -96px;}

.cloud-arrow-up,.cloud-arrow-up\:regular{background-position:0 -128px;}

.cloud-fog-moon,.cloud-fog-moon\:regular{background-position:0 -160px;}

.cloud-fog-sun,.cloud-fog-sun\:regular{background-position:0 -192px;}

.cloud-fog,.cloud-fog\:regular{background-position:0 -224px;}

.cloud-lightning-moona,.cloud-lightning-moona\:regular{background-position:0 -256px;}

.cloud-lightning-moonb,.cloud-lightning-moonb\:regular{background-position:0 -288px;}

.cloud-lightning-suna,.cloud-lightning-suna\:regular{background-position:0 -320px;}

.cloud-lightning-sunb,.cloud-lightning-sunb\:regular{background-position:0 -352px;}

.cloud-lightning,.cloud-lightning\:regular{background-position:0 -384px;}

.cloud-moona,.cloud-moona\:regular{background-position:0 -416px;}

.cloud-moonb,.cloud-moonb\:regular{background-position:0 -448px;}

.cloud-rain-moona,.cloud-rain-moona\:regular{background-position:0 -480px;}

.cloud-rain-moonb,.cloud-rain-moonb\:regular{background-position:0 -512px;}

.cloud-rain-suna,.cloud-rain-suna\:regular{background-position:0 -544px;}

.cloud-rain-sunb,.cloud-rain-sunb\:regular{background-position:0 -576px;}

.cloud-rain,.cloud-rain\:regular{background-position:0 -608px;}

.cloud-raindrop-moon,.cloud-raindrop-moon\:regular{background-position:0 -640px;}

.cloud-raindrop-sun,.cloud-raindrop-sun\:regular{background-position:0 -672px;}

.cloud-raindrop,.cloud-raindrop\:regular{background-position:0 -704px;}

.cloud-reload,.cloud-reload\:regular{background-position:0 -736px;}

.cloud-remove,.cloud-remove\:regular{background-position:0 -768px;}

.cloud-snow-moona,.cloud-snow-moona\:regular{background-position:0 -800px;}

.cloud-snow-moonb,.cloud-snow-moonb\:regular{background-position:0 -832px;}

.cloud-snow-suna,.cloud-snow-suna\:regular{background-position:0 -864px;}

.cloud-snow-sunb,.cloud-snow-sunb\:regular{background-position:0 -896px;}

.cloud-snowa,.cloud-snowa\:regular{background-position:0 -928px;}

.cloud-snowb,.cloud-snowb\:regular{background-position:0 -960px;}

.cloud-snowflake-moon,.cloud-snowflake-moon\:regular{background-position:0 -992px;}

.cloud-snowflake-sun,.cloud-snowflake-sun\:regular{background-position:0 -1024px;}

.cloud-snowflake,.cloud-snowflake\:regular{background-position:0 -1056px;}

.cloud-sun,.cloud-sun\:regular{background-position:0 -1088px;}

.cloud-sync,.cloud-sync\:regular{background-position:0 -1120px;}

.cloud-warninga,.cloud-warninga\:regular{background-position:0 -1152px;}

.cloud-warningb,.cloud-warningb\:regular{background-position:0 -1184px;}

.cloud-winda,.cloud-winda\:regular{background-position:0 -1216px;}

.cloud-windb,.cloud-windb\:regular{background-position:0 -1248px;}

.clouda,.clouda\:regular{background-position:0 -1280px;}

.cloudb,.cloudb\:regular{background-position:0 -1312px;}

.clouds,.clouds\:regular{background-position:0 -1344px;}

.compass-east,.compass-east\:regular{background-position:0 -1376px;}

.compass-nord,.compass-nord\:regular{background-position:0 -1408px;}

.compass-south,.compass-south\:regular{background-position:0 -1440px;}

.compass-west,.compass-west\:regular{background-position:0 -1472px;}

.compass,.compass\:regular{background-position:0 -1504px;}

.compassa,.compassa\:regular{background-position:0 -1536px;}

.compassb,.compassb\:regular{background-position:0 -1568px;}

.coud-arrow-down,.coud-arrow-down\:regular{background-position:0 -1600px;}

.crescenta,.crescenta\:regular{background-position:0 -1632px;}

.crescentb,.crescentb\:regular{background-position:0 -1664px;}

.fahrenheit,.fahrenheit\:regular{background-position:0 -1696px;}

.full-moon,.full-moon\:regular{background-position:0 -1728px;}

.gibbous-moona,.gibbous-moona\:regular{background-position:0 -1760px;}

.gibbous-moonb,.gibbous-moonb\:regular{background-position:0 -1792px;}

.half-moona,.half-moona\:regular{background-position:0 -1824px;}

.half-moonb,.half-moonb\:regular{background-position:0 -1856px;}

.lightning,.lightning\:regular{background-position:0 -1888px;}

.moon-starsa,.moon-starsa\:regular{background-position:0 -1920px;}

.moon-starsb,.moon-starsb\:regular{background-position:0 -1952px;}

.moon,.moon\:regular{background-position:0 -1984px;}

.moona,.moona\:regular{background-position:0 -2016px;}

.moonb,.moonb\:regular{background-position:0 -2048px;}

.moonrise,.moonrise\:regular{background-position:0 -2080px;}

.moonset,.moonset\:regular{background-position:0 -2112px;}

.pressure-reading,.pressure-reading\:regular{background-position:0 -2144px;}

.rainbow,.rainbow\:regular{background-position:0 -2176px;}

.raindrop,.raindrop\:regular{background-position:0 -2208px;}

.raindrops,.raindrops\:regular{background-position:0 -2240px;}

.snowflake,.snowflake\:regular{background-position:0 -2272px;}

.stars,.stars\:regular{background-position:0 -2304px;}

.suna,.suna\:regular{background-position:0 -2336px;}

.sunb,.sunb\:regular{background-position:0 -2368px;}

.sunglassesa,.sunglassesa\:regular{background-position:0 -2400px;}

.sunglassesb,.sunglassesb\:regular{background-position:0 -2432px;}

.sunrise,.sunrise\:regular{background-position:0 -2464px;}

.sunset,.sunset\:regular{background-position:0 -2496px;}

.sunseta,.sunseta\:regular{background-position:0 -2528px;}

.sunsetb,.sunsetb\:regular{background-position:0 -2560px;}

.thermometer-full,.thermometer-full\:regular{background-position:0 -2592px;}

.thermometer-half-full,.thermometer-half-full\:regular{background-position:0 -2624px;}

.thermometer-low,.thermometer-low\:regular{background-position:0 -2656px;}

.thermometer-quarter-full,.thermometer-quarter-full\:regular{background-position:0 -2688px;}

.thermometer-three-quarter-full,.thermometer-three-quarter-full\:regular{background-position:0 -2720px;}

.thermometer,.thermometer\:regular{background-position:0 -2752px;}

.tornado,.tornado\:regular{background-position:0 -2784px;}

.umbrella,.umbrella\:regular{background-position:0 -2816px;}

.warning,.warning\:regular{background-position:0 -2848px;}

.wind-wheela,.wind-wheela\:regular{background-position:0 -2880px;}

.wind-wheelb,.wind-wheelb\:regular{background-position:0 -2912px;}